<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rockman-climbing-firing.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,114},{92,58}}</string>
				<key>column</key>
                <string>2</string>
            </dict>
            <key>rockman-falling.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,114},{110,46}}</string>
                <key>column</key>
                <string>2</string>
            </dict>
            <key>rockman-jumping.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{166,114}}</string>
                <key>column</key>
                <string>3</string>
				<key>row</key>
                <string>2</string>
            </dict>
            <key>rockman-running-firing.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{228,90}}</string>
                <key>column</key>
                <string>4</string>
				<key>row</key>
                <string>2</string>
            </dict>
            <key>rockman-running.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,114},{136,90}}</string>
                <key>column</key>
                <string>3</string>
				<key>row</key>
                <string>2</string>
            </dict>
            <key>rockman-stationary.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,114},{120,90}}</string>
                <key>column</key>
                <string>3</string>
				<key>row</key>
                <string>2</string>
            </dict>
			<key>rockman_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,114},{16,12}}</string>
                <key>column</key>
                <string>1</string>
				<key>row</key>
                <string>1</string>
            </dict>
        </dict>
    </dict>
</plist>
