<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rockman-Running.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,48},{78,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,26}}</string>
                <key>sourceSize</key>
                <string>{78,26}</string>
				<key>column</key>
				<string>3</string>
            </dict>
            <key>bossbomman.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,80},{280,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,36}}</string>
                <key>sourceSize</key>
                <string>{280,36}</string>
            </dict>
            <key>bulletbill.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,22},{76,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,22}}</string>
                <key>sourceSize</key>
                <string>{76,22}</string>
            </dict>
            <key>fivestarshooter.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,22},{110,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,22}}</string>
                <key>sourceSize</key>
                <string>{110,22}</string>
            </dict>
            <key>floortrapper.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{88,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,22}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>flyinghardhat.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,48},{78,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,26}}</string>
                <key>sourceSize</key>
                <string>{78,26}</string>
            </dict>
            <key>greenrobocap.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{170,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,34}}</string>
                <key>sourceSize</key>
                <string>{170,34}</string>
            </dict>
            <key>littlepolygot.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,0},{88,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,22}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>napalmbomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{72,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,16}}</string>
                <key>sourceSize</key>
                <string>{72,16}</string>
            </dict>
            <key>rockman-climbing-firing.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,48},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>rockman-climbing.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,48},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>rockman-falling.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,48},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>rockman-jumping.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,48},{94,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,32}}</string>
                <key>sourceSize</key>
                <string>{94,32}</string>
            </dict>
            <key>rockman-running-firing.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,22},{132,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,26}}</string>
                <key>sourceSize</key>
                <string>{132,26}</string>
            </dict>
            <key>rockman-stationary.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,22},{70,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,26}}</string>
                <key>sourceSize</key>
                <string>{70,26}</string>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,48},{78,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,26}}</string>
                <key>sourceSize</key>
                <string>{78,26}</string>
            </dict>
            <key>wallshooter.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,0},{110,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,22}}</string>
                <key>sourceSize</key>
                <string>{110,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>abc.png</string>
            <key>size</key>
            <string>{450,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fa65d53d4a3bc2d1a7d1b1344173075$</string>
            <key>textureFileName</key>
            <string>abc.png</string>
        </dict>
    </dict>
</plist>
